body {
    background-color: whitesmoke;
}

#login-box {
    background-color: white;
    box-shadow: 1px 1px 5px darkgrey;
    width: fit-content;
    border-radius: 5px;
    border: lightgrey;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    transition: 300ms ease-in-out;
}

#login-box:hover {
    box-shadow: 1px 1px 6px grey;
}

#login-box h3 {
    font-family: serif;
    font-size: 16pt;
    font-weight: bold;
}

#login-box p {
    font-family: serif;
    font-size: 11pt;
}

#login-box input {
    margin: 3px;
}